<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- bootstrap css for form styles + structures -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- app styles -->
    <!-- <link rel="stylesheet" type="text/css" href="/styles.css"> -->
  </head>
  <body>
    <div class="container-fluid body-wrap">
        <div id="jumbotron" class="jumbotron">
          <h1 class="display-3">Register Admin</h1>
          <hr class="my-4">
          <p>Reminder: After registering, you must provide your id in the parameters to continue.</p>
          <form method="POST" action="/admin/signup" id="signupForm" class="container-fluid">
            <div class="form-group">
              <label class="form-control-label" for="firstname">First Name</label>
              <input  type="text" name="firstname" required minlength="1" maxlength="25" class="form-control" id="firstname" placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="lastname">Last Name</label>
              <input type="text" name="lastname" required minlength="1" maxlength="25" class="form-control" id="lastname" placeholder="Enter your last name">
            </div>
            <div class="form-group">
              <label class="form-control-label" for="username">Username</label>
              <input type="text" name="username" required minlength="1" maxlength="25" class="form-control" id="username" placeholder="Enter a username">
              <small id="usernameHelpBlock" class="form-text text-muted">
                Your username must be between 1-25 characters long.
              </small>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="password1">Password</label>
              <input type="password" name="password1" minlength="4" maxlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required class="form-control" id="password1" placeholder="Enter a password">
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 4-12 characters long and must contain: one uppercase letter, one lowercase letter, and one numeric digit.
              </small>
            </div>
            <div class="form-group">
              <label class="form-control-label" for="password2">Confirm Password</label>
              <input type="password" name="password2" required class="form-control" id="password2" placeholder="Retype password to confirm">
            </div>
            <div class="form-group" id="signUpBtnContainer">
              <input type="submit" name="submit" value="Submit" class="btn btn-outline-primary btn-block" id="signUpBtn">
            </div>
          </form>
        </div>
    </div>
    <!-- bootstrap: jquery + popper scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!--password match script  -->
    <script type="text/javascript">
      window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
      }
      function validatePassword() {
        var pw2= document.getElementById("password2").value;
        var pw1= document.getElementById("password1").value;
        if(pw1!=pw2)
          document.getElementById("password2").setCustomValidity("Passwords Must Match");
        else
          document.getElementById("password2").setCustomValidity("");
      }
    </script>
  </body>
</html>
