<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="cardstyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <section class="shuffle">
      <div class="shuffle-btn-form">
        <form action="shuffle" method="post">
        <input type="submit" value="Shuffle the Deck" class="btn btn-primary">
        </form>
      </div>
      <div class="shuffled-display">
          {{#results}}
          <span>Draw a card.</span>
          <form action="drawCard" method="post">
            <input type="submit" value="Draw" class="btn btn-primary">
          </form>
          {{/results}}
      </div>
      <div class="drawCard-display">
        {{#cardResults}}
        {{#cards}}
        <img src="{{image}}">
        {{/cards}}
        {{/cardResults}}
      </div>
    </section>

  </body>
</html>
