<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- bootstrap css for form styles + structures -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- app styles -->
    <link rel="stylesheet" type="text/css" href="../styles.css">
  </head>
  <body>
    <div class="container-fluid body-wrap">
      <div class="form-container">
        <p>
          <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#addLog" aria-expanded="false" aria-controls="addLog">
            Add Log ▼
          </button>
        </p>
        <div class="collapse" id="addLog">
          <div class="card card-block add-info-cards">
            <form method="POST" action="/addLog" class="container-fluid" id="addLogForm">
              <div class="form-group" id="logWrap">
                <label class="form-control-label" for="location">Your Location:</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Try and be as specific as possible">
              </div>
              <div class="form-group" id="detailsWrap">
                <label class="form-control-label" for="details">Incident Details:</label>
                <textarea class="form-control"  name="details" id="details" placeholder="Try and be as specific as possible"></textarea>
              </div>
              <div class="form-group" id="levelWrap">
                <label for="level">Select Incident Level</label>
                <select class="form-control" name="level" id="level">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit Log</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <h2>LOG RECORD:</h2>
      <!-- <div class="container-fluid"> -->
        {{#logs}}
          <div class="card" style="max-width:800px;">
            <div class="card-body">
              <div class="card-header text-center text-muted">{{timestamp}}</div>
              <div class="card-text">Location: {{location}}</div>
              <div class="card-text">Level: {{level_of_situation}}</div>
              <div class="card-text">Details: {{details}}</div>
              <div class="text-right"><a href="/user/{{username}}/logs/{{id}}" class="btn btn-primary btn-lg" role="button">Add Details ►	 </a></div>
            </div>
          </div>
        {{/logs}}
      <!-- </div> -->
    </div>
    <!-- bootstrap: jquery + popper scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
