<!DOCTYPE html>
<html>
  <head>
    <title>Buzzy News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="news-styles.css">
  </head>
  <body>

  </body>
</html>
