<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- bootstrap css for form styles + structures -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Quattrocento+Sans|Roboto|Rubik" rel="stylesheet">
    <!-- app styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class="container-fluid body-wrap">
      <h2>HOME</h2>
      <!-- <h1>Hello, {{firstname}}.</h1> -->
      <div id="quickAccessWrap">
        <div id="infoLogBtnsWrap" class="container-fluid">
          <a href="/user/{{username}}/user-info/" class="btn" role="button">YOUR INFO</a>
          <a href="/user/{{username}}/logs/" class="btn" role="button">YOUR LOGS</a>
        </div>
        <div class="container-fluid quick-btn-wraps">
          <a href="tel:+1-919-641-5718" class="btn call-btns" role="button" id="btn911">
            <div class="icon" id="green">☏</div><div class="btn-text">EMPATH 360</div>
          </a>
        </div>
        <div class="container-fluid quick-btn-wraps">
          <!--if exists  -->
        {{#safety_contact}}
          <a href="tel:+1-{{phone_number}}" class="btn call-btns" role="button" id="btnSafety">
            <div class="icon" id="yellow">☏</div><div class="btn-text">SAFETY CONTACT</div>
          </a>
        {{/safety_contact}}
         <!--if none  -->
        {{^safety_contact}}
          <a href="#" class="btn call-btns" role="button" id="btnSafety">
            <div class="icon" id="yellow">!</div><div class="btn-text">SAFETY CONTACT</div>
          </a>
        {{/safety_contact}}
        </div>
        <div class="container-fluid quick-btn-wraps">
          <a href="tel:+1-910-548-5052" class="btn call-btns" role="button" id="btn911">
            <div class="icon" id="red">☏</div><div class="btn-text">911</div>
          </a>
        </div>
        <div class="container-fluid quick-btn-wraps">
          <a href="/" class="btn" role="button">NEWS / LOGOUT</a>
        </div>
      </div>
    </div>
    <!-- bootstrap: jquery + popper scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
