<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- bootstrap css for form styles + structures -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- app styles -->
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <!-- need disclaimer -->
    <!-- need to make sure most of this is optional ?-->
    <!-- allow them to start the log ?-->
    <div class="body-wrap">
      <h1> Welcome, ____</h1>
      <h3> <i>"Some message about most of this being optional.. something about how the required information has been marked with an asterisk (*), but the more details the user is able to provide, the better T's org / law enforcement will be able to help them in the future.... something about how only certain information will be viewable to T, unless user gives permission.."</i>
      </h3>
      <form method="POST" action="/personal-info" id="personal-info-form" >
        <div class="form-group" id="DOB-wrap">
          <label for="DOB"> * Your Date of Birth: </label>
          <input type="date" name="DOB" id="DOB">
        </div>
        <div class="form-group" id="phone-wrap">
          <div class="col-xs-3">
            <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required="required">
          </div>
          <div class="col-xs-3">
            <input type="tel" name="phone" class="form-control" value="" size="3" maxlength="3" required="required">
          </div>
          <div class="col-xs-4">
            <input type="tel" name="phone" class="form-control" value="" size="4" maxlength="4" required="required" title="">
          </div>
        </div>
      </form>

    </div>
    <!-- bootstrap: jquery + popper scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
