* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

.news-header {
  text-align: center;
}

.newsfeed {
  display: flex; 
  margin: 0;
}

.news-list {
  /* width: 25%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.news-image img {
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}

.game-link {
  color: Black;
  text-decoration: none;
}
.li {
  width: 100%; 
}
