/*STYLES FOR MOBILE AND TABLET (1024px width only.)*/
/*COLOR GUIDE-----------------------------*/
/*---BACKGROUND//  DARKEST
--------------------------
  #2C2C2C

  ((backup:  #212121 bground
             #393B40 base))

---BASE//  NEXT DARKEST
-----------------------
  #323234

---HEADERS//MODALS//CARDS//  "GREY"
----------------------------------
  new#3B3B3D

---WHITE
--------
  #FFFFFF

---WELLS/LIGHTGREY
------------------
  #F5F5F5

---YELLOW
---------
  #E4CE4E

---GOLD
--------
  #F1B446

---BLUEGREEN
------------
  --L
    #9FCECB

  --D
    #779B98

---RED
------
  #400607

---TEXT FOR DARK UI// GREY (PORTO)
----------------------------------
  #EEEAEC (lighter)
  #B3B0B1*/


/*FONTS*/
  /*font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;*/
/*---------------------------------------------*/

* {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #E5E5E5 !important;
  /*color: #B3B0B1 !important;*/
}

html, body {
  background: #2C2C2C !important;
}

div.main-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

div#splashBodyWrap {
  width: 100vw;
  max-width: 1000px !important;
  height: 100vh;
  max-height: 1000px !important;
  overflow-y: scroll;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-image: url('./app-back.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  border: solid #323234 5px;
}

div#logo {
  margin-top: 4em;
  width: 60vw;
  height: 60vw;
  max-width: 650px;
  max-height: 650px;
  min-width: 250px;
  min-height: 250px;
  background-image: url('./templogo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

hr {
  border: solid 1px #F1B446;
  margin: 5px 0 !important;
}

div#button-wrap  {
  position: relative;
  width: 100vw;
  max-width: 1024px;
}

button#loginToggleBtn, button#signupToggleBtn {
  background: transparent;
  border: none;
  border-radius: 0px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #E5E5E5;
  opacity: 0.9;
}

button#loginToggleBtn:focus, button#loginToggleBtn:active, button#signupToggleBtn:focus, button#signupToggleBtn:active  {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

button#loginToggleBtn:hover, button#signupToggleBtn:hover {
  cursor: pointer;
}

/*MODAL STYLES-----------------------------------------*/
div.modal-content {
  background: #323234;
}

h5.modal-title {
  color: #E5E5E5 !important;
}

input, select, textarea {
  color: #B3B0B1 !important;
  background-color: #3B3B3D !important;
}
/*on sign-up form*/
div.address-wrap {
  padding-top: 1em;
  border-radius: 4px;
  border: solid 1px #3B3B3D;
}

input#loginButton:hover, input#signUpButton:hover {
  border-color: #9FCECB !important;
  color: #9FCECB !important;
}



 /*SM-------------------------------------------------------------------------*/
@media (max-width: 700px) {
  button#loginToggleBtn, button#signupToggleBtn {
    font size: 40px;
  }
}

@media (min-width: 768px) {
  button#loginToggleBtn, button#signupToggleBtn {
  margin: 1em 0;
  }
}
