/*COLOR GUIDE-----------------------------*/

/*BACKGROUND//  DARKEST
-----------------------
  #2C2C2C

  ((backup:  #212121 bground
             #393B40 base))

BASE//  NEXT DARKEST
-------------------
  #323234

HEADERS//MODALS//CARDS//  "GREY"
-------------------------------
  #3C3B3D

WHITE
-----
  #FFFFFF

WELLS/LIGHTGREY
---------------
  #F5F5F5

YELLOW
------
  #E4CE4E

GOLD
-----
  #F1B446

BLUEGREEN
--------
  --L
    #9FCECB

  --D
    #779B98

RED
---
  #400607

TEXT FOR DARK UI// GREY (PORTO)
-------------------------------
  #B3B0B1*/

/*---------------------------------------------*/

* {
  font-family: sans-serif;
  color: #E5E5E5 !important;
}

html,body {
  background: #2C2C2C !important;
}

div.body-wrap {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  /*justify-content: center !important;*/
  align-items: center !important;
  background-color: #2C2C2C !important;
}

textarea {
  overflow: scroll;
}

a#back-to-game {
  width: 56px !important;
  height: 56px !important;
  position: fixed !important;
  top: 96px !important;
  left: 5px !important;
  z-index: 5;
}

/*login-signup page-----------------------------------------------------------*/
div#splash {
  width: 100vw;
  min-height: 100vh;
  postition: fixed;
  z-index: -2;
  background-image: url('./safe.jpeg') !important;
  opacity: 0.55;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#splashBodyWrap {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex !important;
  flex-direction: column !important;
  /*justify-content: center !important;*/
  align-items: center !important;
}

div#logoAndTitleWrap {
  z-index: 3;
  opacity: 1;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#appTitle {
  color: #FFFFFF;
}

div#logoHalo {
  opacity: 0.7;
  z-index: 4;
  width: 30vw;
  height: 30vw;
  border-radius: 125%;
  background-color: #779B98;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#logoTop {
  opacity: 0.8;
  z-index: 5;
  width: 27vw;
  height: 27vw;
  border-radius: 125%;
  background-color: #9FCECB ;
}

div#button-wrap  {
  width: 100vw;
  position: fixed !important;
  bottom: 0 !important;
  border-radius: 4px !important;
}

button#loginToggleBtn, button#signupToggleBtn {
  /*display: block !important;*/
  padding: 1.5em !important;
  background: transparent;
  border-top: 1px solid   #F1B446;
  border-bottom: 1px solid   #F1B446;
}

/*on sign-up form*/
.address-wrap {
  padding-top: 1em;
  border-radius: 4px;
  border: solid 1px lightgrey;
}

/*user-home page--------------------------------------------------------------*/
div#quickAccessWrap {
  max-width: 400px !important;
  display: flex!important;
  flex-direction: column!important;
  padding: 2em !important;
  justify-content: space-around!important;
  align-items: center !important;
  border: solid black 2px !important;
  border-radius: 4px !important;
}

/*user-information page-------------------------------------------------------*/
div#infoCard {
  width: 90vw;
}
/*user-log page---------------------------------------------------------------*/
div.log-card {
  width: 75vw !important;
  /*z-index: 1;*/
}

div#addLogBtnWrap {
  width: 75vw !important;
  display: flex !important;
  justify-content: flex-end !important;
}


/*admin-home page-------------------------------------------------------------*/
div.user-cards {
  width: 75vw !important;
  margin: 1em 0 !important;
}

div#adminLogoutWrap {
  width: 75vw !important;
  margin: 1em 0 2em 0 !important;
}

/*admin-view-user page--------------------------------------------------------*/
div#userFileCard {
  margin-top: 1em;
  width: 75vw !important;
}

div#adminBtnWrap {
  width: 100vw !important;
  display: flex !important;
  flex-flow: wrap row !important;
  background: white;
  /*position: fixed !important;*/
  /*z-index: 2 !important;*/
}

a#adminLogout, a#adminHome {
  flex-grow: 1;
}

/*MED QUERIES SETUP-----------------------------------------------------------*/
 /*SM----------------------------------*/
@media (max-width: 700px) {
  /*login-signup*/
  button#loginToggleBtn, button#signupToggleBtn {
    display: block !important;
  }


  /*user-log page---------*/
  div.log-card div#addLogBtnWrap {
    width: 100vw !important;
  }

  /*admin-home-page-------*/
  div.user-cards {
    width: 96vw !important;
  }
  div#adminLogoutWrap {
    width: 96vw !important;
  }

  /*admin-view-user page--*/
  div#userFileCard {
    width: 100vw !important;
  }

}
