/*STYLES FOR MOBILE AND TABLET (1024px width only.)*/
/*COLOR GUIDE-----------------------------*/
/*---BACKGROUND//  DARKEST
--------------------------
  #2C2C2C

  ((backup:  #212121 bground
             #393B40 base))

---BASE//  NEXT DARKEST
-----------------------
  #323234

---HEADERS//MODALS//CARDS//  "GREY"
----------------------------------
  #3C3B3D

---WHITE
--------
  #FFFFFF

---WELLS/LIGHTGREY
------------------
  #F5F5F5

---YELLOW
---------
  #E4CE4E

---GOLD
--------
  #F1B446

---BLUEGREEN
------------
  --L
    #9FCECB

  --D
    #779B98

---RED
------
  #400607

---TEXT FOR DARK UI// GREY (PORTO)
----------------------------------
  #EEEAEC (lighter)
  #B3B0B1*/


/*FONTS*/
  /*font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;*/
/*---------------------------------------------*/

* {
  font-family: 'Quattrocento Sans', sans-serif;
  /*color: #E5E5E5 !important;*/
  color: #B3B0B1 !important;
}

html,body {
  background: #2C2C2C;
}

body {
  min-height: 100vh;
  width: 100vw;
}

div.body-wrap {
  width: 100vw;
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2C2C2C;
}

textarea {
  overflow: scroll;
}

a#back-to-game {
  width: 56px;
  height: 56px;
  position: fixed;
  top: 96px;
  left: 5px;
  z-index: 5;
}

/*USER HOME-------------------------------------------------------------------*/
h2 {
  padding: 1.5em;
  margin-bottom: -5px;
  z-index: 2;
  background-color: #323234;
  width: 100vw;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.15);
}

div#topLinksWrap{
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #323234;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.15);
}

a.info-log-logout {
  flex-grow: 1 !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.15);
  /*border: solid 2px #3C3B3D;*/
}


div#callLinksWrap {
  width: 92vw;
  max-width: 900px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.15);
}



/*div#infoLogBtnsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-height: 100px !important;
  background: #323234;
  height: 15%;
  border-radius: 6px;
}*/

div.quick-btn-wraps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-height: 100px !important;
  background: #323234;
  height: 15%;
  border-radius: 6px;
}

a.btn {
  width: 100%;
  height: 100%;
  max-height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.btn:hover, a.btn:active  {
  background:  #3C3B3D;
}

div.btn-text {
  flex-grow: 1;
  text-align: center;
}
div.icon {
  height: 100%;
  width: 30px;
  height: 30px;
  border-radius: 125%;
  display: inline-block;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

div#green {
  color: #2C2C2C !important;
  background-color: #9FCECB;
}

div#yellow {
  color: #2C2C2C !important;
  background-color: #E4CE4E;
}

div#red {
  color: #B3B0B1 !important;
  background-color: #400607;
}

/*user-information page-------------------------------------------------------*/
div#infoCard {
  width: 90vw;
}
/*user-log page---------------------------------------------------------------*/
div.log-card {
  width: 75vw;
  /*z-index: 1;*/
}

div#addLogBtnWrap {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
}


/*admin-home page-------------------------------------------------------------*/
div.user-cards {
  width: 75vw;
  margin: 1em 0;
}

div#adminLogoutWrap {
  width: 75vw;
  margin: 1em 0 2em 0;
}

/*admin-view-user page--------------------------------------------------------*/
div#userFileCard {
  margin-top: 1em;
  width: 75vw;
}

div#adminBtnWrap {
  width: 100vw;
  display: flex;
  flex-flow: wrap row;
  background: white;
}

a#adminLogout, a#adminHome {
  flex-grow: 1;
}

/*MED QUERIES SETUP-----------------------------------------------------------*/
/*XS-----------------------------------*/
@media (max-width: 575px) {

}

 /*SM----------------------------------*/
@media (max-width: 750px) {
  h2 {
    padding: .8em;
  }

  /*user-log page---------*/
  div.log-card div#addLogBtnWrap {
    width: 100vw;
  }

  /*admin-home-page-------*/
  div.user-cards {
    width: 96vw;
  }
  div#adminLogoutWrap {
    width: 96vw;
  }

  /*admin-view-user page--*/
  div#userFileCard {
    width: 100vw;
  }

}
