/*STYLES FOR MOBILE AND TABLET (1024px width only.)*/
/*COLOR GUIDE-----------------------------*/

/*BACKGROUND//  DARKEST
-----------------------
  #2C2C2C

  ((backup:  #212121 bground
             #393B40 base))

BASE//  NEXT DARKEST
-------------------
  #323234

HEADERS//MODALS//CARDS//  "GREY"
-------------------------------
  #3C3B3D

WHITE
-----
  #FFFFFF

WELLS/LIGHTGREY
---------------
  #F5F5F5

YELLOW
------
  #E4CE4E

GOLD
-----
  #F1B446

BLUEGREEN
--------
  --L
    #9FCECB

  --D
    #779B98

RED
---
  #400607

TEXT FOR DARK UI// GREY (PORTO)
-------------------------------
  #EEEAEC (lighter)
  #B3B0B1*/


/*FONTS*/
  /*font-family: 'Rubik', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;*/
/*---------------------------------------------*/

* {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #E5E5E5 !important;
}

html,body {
  background: #2C2C2C !important;
}

div.body-wrap {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  /*justify-content: center !important;*/
  align-items: center !important;
  background-color: #2C2C2C !important;
}

textarea {
  overflow: scroll;
}

a#back-to-game {
  width: 56px !important;
  height: 56px !important;
  position: fixed !important;
  top: 96px !important;
  left: 5px !important;
  z-index: 5;
}

/*user-home page--------------------------------------------------------------*/
div#quickAccessWrap {
  max-width: 600px !important;
  display: flex!important;
  flex-direction: column!important;
  padding: 2em !important;
  justify-content: space-around!important;
  align-items: center !important;
  border: solid black 2px !important;
  border-radius: 4px !important;
}

div.icon {
  width: 20px;
  height: 20px;
  border-radius: 125%;
}

div#green {
  background-color: #779B98;
  /*background-image: url('./green.png');*/
}

div#yellow {
  background-color: #E4CE4E;
  /*background-image: url('./yellow.png');*/
}

div#red {
  background-color: #400607;
  /*background-image: url('./red.png');*/
}

/*user-information page-------------------------------------------------------*/
div#infoCard {
  width: 90vw;
}
/*user-log page---------------------------------------------------------------*/
div.log-card {
  width: 75vw !important;
  /*z-index: 1;*/
}

div#addLogBtnWrap {
  width: 75vw !important;
  display: flex !important;
  justify-content: flex-end !important;
}


/*admin-home page-------------------------------------------------------------*/
div.user-cards {
  width: 75vw !important;
  margin: 1em 0 !important;
}

div#adminLogoutWrap {
  width: 75vw !important;
  margin: 1em 0 2em 0 !important;
}

/*admin-view-user page--------------------------------------------------------*/
div#userFileCard {
  margin-top: 1em;
  width: 75vw !important;
}

div#adminBtnWrap {
  width: 100vw !important;
  display: flex !important;
  flex-flow: wrap row !important;
  background: white;
  /*position: fixed !important;*/
  /*z-index: 2 !important;*/
}

a#adminLogout, a#adminHome {
  flex-grow: 1;
}

/*MED QUERIES SETUP-----------------------------------------------------------*/
/*XS-----------------------------------*/
@media (max-width: 575px) {

}

 /*SM----------------------------------*/
@media (max-width: 700px) {

  /*user-log page---------*/
  div.log-card div#addLogBtnWrap {
    width: 100vw !important;
  }

  /*admin-home-page-------*/
  div.user-cards {
    width: 96vw !important;
  }
  div#adminLogoutWrap {
    width: 96vw !important;
  }

  /*admin-view-user page--*/
  div#userFileCard {
    width: 100vw !important;
  }

}
